<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>疯狂竞猜-在线客服</title>
    <link rel="stylesheet" href="./public/css/index.css" />
</head>
<body class="newbg">
<div class="main">
   <div class="online-box">
        <div class="ewmqy">
            <img src="./public/images/ewm.jpg" />
        </div>
       <div class="ewkf">
           <div class="ewkf-l fl">
               <img src="./public/images/kf.png" />
           </div>
           <div class="wxkf fr">
               <b>微信同步在線</b>
               <p>長按識別圖中二維碼<em>"聯系客服"</em></p>
           </div>
           <div class="clear"></div>
       </div>
   </div>
</div>


<div class="foot">
    <img src="./public/images/foot-my.png" />
    <div class="foot-nav user">
        <ul>
            <li class="fl">
                <a href="index.html">
                    &nbsp;
                    <!--<img src="./public/images/icon-1-off.png" />-->
                    <!--<span>游戏</span>-->
                </a>
            </li>
            <li class="fl">
                <a href="daili.html">
                    &nbsp;
                    <!--<img src="./public/images/icon-2-off.png" />-->
                    <!--<span>推广</span>-->
                </a>
            </li>
            <li class="fl">
                <a href="usercenter.html">
                    &nbsp;
                    <!--<img src="./public/images/icon-4.png" />-->
                    <!--<span>我的</span>-->
                </a>
            </li>
            <div class="clear"></div>
        </ul>
    </div>
</div>

</body>
</html>