<div class="box-cz">
    <div class="box1 box-list rebox">
        <a href="javascript:;" class="closeBox">&nbsp;</a>
        <div class="cz-content">
             <ul>
                 <li data-value="100">
                     <b>100元</b>
                     <div class="cz-list">
                         <p>到賬100金幣<img src="./public/images/jinbi.png" /></p>
                         <p>¥1=1金幣</p>
                     </div>
                 </li>
                 <li data-value="200">
                     <b>200元</b>
                     <div class="cz-list">
                         <p>到賬200金幣<img src="./public/images/jinbi.png" /></p>
                         <p>¥1=1金幣</p>
                     </div>
                 </li>
                 <li data-value="500">
                     <b>500元</b>
                     <div class="cz-list">
                         <p>到賬500金幣<img src="./public/images/jinbi.png" /></p>
                         <p>¥1=1金幣</p>
                     </div>
                 </li>
                 <li data-value="1000">
                     <b>1000元</b>
                     <div class="cz-list">
                         <p>到賬1000金幣<img src="./public/images/jinbi.png" /></p>
                         <p>¥1=1金幣</p>
                     </div>
                 </li>
                 <li data-value="2000">
                     <b>2000元</b>
                     <div class="cz-list">
                         <p>到賬2000金幣<img src="./public/images/jinbi.png" /></p>
                         <p>¥1=1金幣</p>
                     </div>
                 </li>
                 <li data-value="5000">
                     <b>5000元</b>
                     <div class="cz-list">
                         <p>到賬5000金幣<img src="./public/images/jinbi.png" /></p>
                         <p>¥1=1金幣</p>
                     </div>
                 </li>
             </ul>
            <p><img src="./public/images/gth.png" />
                如充值出現未到賬情況，請及時聯繫平台客服。
            </p>
        </div>
    </div>
</div>
<div class="box-cz-ok">
    <div class="box9 box-list okrebox">
        <a href="javascript:;" class="closeBox-box9">&nbsp;</a>
        <div class="czok-content">
                <div class="czok-t">
                    <h3>确认付款</h3>
                    <p>¥100.00</p>
                </div>
                <div class="czok-list">
                    <p>付款方式</p>
                    <ul id="choose">
                        <li class="pay_on top" data-id="1"><a href="javascript:void(0)"><div class="pay-gx fl"><em class="xzbtn"><img src="./Public/images/ok-btn-ok.png" /></em></div><div class="pay-img fl"><img src="./Public/images/wxlogo.png" /></div><div class="pay-wz fl"><span>微信錢包</span></div><div class="clear"></div></a></li>
                        <li class="top" data-id="2"><a href="javascript:void(0)"><div class="pay-gx fl"><em class="xzbtn"><img src="./Public/images/ok-btn.png" /></em></div><div class="pay-img fl"><img src="./Public/images/qq.png" /></div><div class="pay-wz fl"><span>QQ錢包</span></div><div class="clear"></div></a></li>
                        <li class="top" data-id="3"><a href="javascript:void(0)"><div class="pay-gx fl"><em class="xzbtn"><img src="./Public/images/ok-btn.png" /></em></div><div class="pay-img fl"><img src="./Public/images/kplogo.png" /></div><div class="pay-wz fl"><span>銀行卡支付</span></div><div class="clear"></div></a></li>
                    </ul>
                    <div class="bank-list">
                        <ul>
                            <li class="" data-id="CCB"><img src="./Public/images/ok-btn-ok.png">建设银行</li>
                            <li class="" data-id="ABC"><img src="./Public/images/ok-btn.png">农业银行</li>
                            <li class="" data-id="ICBC"><img src="./Public/images/ok-btn.png">工商银行</li>
                            <li class="" data-id="BOC"><img src="./Public/images/ok-btn.png">中国银行</li>
                            <li class="" data-id="SPDB"><img src="./Public/images/ok-btn.png">浦发银行</li>
                            <li class="" data-id="CEB"><img src="./Public/images/ok-btn.png">光大银行</li>
                            <li class="" data-id="PINGAN"><img src="./Public/images/ok-btn.png">平安银行</li>
                            <li class="" data-id="CIB"><img src="./Public/images/ok-btn.png">兴业银行</li>
                            <li class="" data-id="POST"><img src="./Public/images/ok-btn.png">邮政储蓄银行</li>
                            <li class="" data-id="ECITIC"><img src="./Public/images/ok-btn.png">中信银行</li>
                            <li class="" data-id="HXB"><img src="./Public/images/ok-btn.png">华夏银行</li>
                            <li class="" data-id="CMBCHINA"><img src="./Public/images/ok-btn.png">招商银行</li>
                            <li class="" data-id="CGB"><img src="./Public/images/ok-btn.png">广发银行</li>
                            <li class="" data-id="BCCB"><img src="./Public/images/ok-btn.png">北京银行</li>
                            <li class="" data-id="SHB"><img src="./Public/images/ok-btn.png">上海银行</li>
                            <li class="" data-id="CMBC"><img src="./Public/images/ok-btn.png">民生银行</li>
                            <li class="" data-id="BOCO"><img src="./Public/images/ok-btn.png">交通银行</li>
                            <li class="" data-id="BJRCB"><img src="./Public/images/ok-btn.png">北京农村商业银行</li>
                        </ul>
                    </div>
                </div>
                <div class="czok-btn">
                    <div class="czok-btn-l fl">
                        <input id="ok_btn" type="image" src="./public/images/czqrbtn.png" />
                    </div>
                    <div class="czok-btn-r fr">
                        <input class="closeBox-box9" type="image" src="./public/images/czqxbtn.png" />
                    </div>
                    <div class="clear"></div>
                </div>
        </div>
    </div>
</div>
<div class="box-mm"></div>
<input id="userID" type="hidden" value="<%=userID%>">
<input id="token" type="hidden" value="<%=token%>">
<input id="token_pay" type="hidden" value="<%=token_pay%>">

<script src="../public/js/config.js"></script>

<script type="text/javascript">
    var ids='';
    var chosetype="1";
    var banktype="CCB";
    $(function(){
        $("#czbg").on("click",function(){
            $(".box-cz, .box1").show();
        });
        $(".cz-content li").on("click",function(){
             ids = $(this).data("value");
            $(".box-cz, .box1").hide();
            $(".box-cz-ok, .box9").show();
            $(".czok-t p").html("¥"+ids);
        });
        $("#choose li").on("click",function(){
            $("#choose li").removeClass("pay_on");
            $(this).addClass("pay_on");
            chosetype=$(this).data("id");
            if($(this).data("id") == "3"){
                $(".bank-list").show();
            }else{
                $(".bank-list").hide();
            }
            $('.xzbtn').children('img').attr('src','./Public/images/ok-btn.png');
            $(this).find('.xzbtn').children('img').attr('src','./Public/images/ok-btn-ok.png');
        });
        $(".bank-list li").on("click",function(){
            $(".bank-list li").children("img").attr("src","./Public/images/ok-btn.png");
            $(this).children('img').attr('src','./Public/images/ok-btn-ok.png');
            banktype=$(this).attr("data-id");
            console.log('银行选择:'+$(this).attr("data-id"));
        });
        $(".closeBox-box9").on("click",function(){
            $(".box-cz, .box1").show();
            $(".box-cz-ok, .box9").hide();
        });
        $("#ok_btn").on("click",function () {

            BINEX.ajax.post("/Recharge", {
            }, function (d) {
                console.log('兑换返回信息:'+JSON.stringify(d)+'chosetype:'+chosetype);
                if (d.code==0)
                {
                    //&channel=wxpay
                    if (chosetype=="1")
                    {
                        window.location.assign(CONFIG.pay_server+'index.php?m=Api&c=Tfb&a=wxQrPay&channel=wxpay&userID='+d.data.userID+'&amount='+ids+'&token='+d.data.token+'')

                    }
                    else if (chosetype=="2")
                    {
                        window.location.assign(CONFIG.pay_server+'index.php?m=Api&c=Tfb&a=wxQrPay&userID='+d.data.userID+'&amount='+ids+'&token='+d.data.token+'')
                    }
                    else
                    {

                        window.location.assign(CONFIG.pay_server+'index.php?m=Api&c=Tfb&a=gateway&userID='+d.data.userID+'&amount='+ids+'&token='+d.data.token+'&banksegment='+banktype)
                    }

                }
                else
                {

                    BINEX.dialog.msg(d.msg);

                }
                // $(".box-tx, .pwd-content, .txbox").hide();

            })




        });

    });
</script>