<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>疯狂竞猜-提现</title>
    <link rel="stylesheet" href="./public/css/index.css" />
</head>
<body class="newbg">
<div class="main">
    <div class="recharge-con">
        <div class="recharge-con-list">
            <div class="tixian-box">
                <div class="tixian-box-list">
                    <label>到账账户：</label>
                    <span>本微信号零钱包</span>
                </div>
                <div class="tixian-box-list">
                    <label>提现金额：</label>
                    <input id="price" type="text" value="" placeholder="请输入您要提现的金额" />
                </div>
                <div class="tixian-box-list">
                    <label>资金密码：</label>
                    <input type="text" value="" placeholder="请输入您的支付密码">
                </div>
                <p><span class="fl">可提现金额：1000元</span><span class="fr">提现手续费2%</span><div class="clear"></div></p>
            </div>
        </div>
    </div>
    <div class="recharge-btn">
        <input type="image" src="./public/images/qrtx.png" value="确认提现" id="ok-recharge-Btn" />
    </div>
    <div class="recharge-p">
        <p>1.必须完成首次交易后才能提现;</p>
        <p>2.每次提现最低1元，最高1000元，每个交易日最多可以提现5次;</p>
        <p>3.每次提现收取提现金额1%的手续费，提现费用从余额中扣除;</p>
        <p>4.提现时间为每个交易日09:30-24:00;</p>
        <p>5.若出现提现成功未到账，请联系在线客服.</p>
    </div>
</div>


<div class="foot">
    <img src="./public/images/foot-my.png" />
    <div class="foot-nav user">
        <ul>
            <li class="fl">
                <a href="index.html">
                    &nbsp;
                    <!--<img src="./public/images/icon-1-off.png" />-->
                    <!--<span>游戏</span>-->
                </a>
            </li>
            <li class="fl">
                <a href="daili.html">
                    &nbsp;
                    <!--<img src="./public/images/icon-2-off.png" />-->
                    <!--<span>推广</span>-->
                </a>
            </li>
            <li class="fl">
                <a href="usercenter.html">
                    &nbsp;
                    <!--<img src="./public/images/icon-4.png" />-->
                    <!--<span>我的</span>-->
                </a>
            </li>
            <div class="clear"></div>
        </ul>
    </div>
</div>
<!--提现成功-->
<div class="czcg-box">
    <div class="czcg-ok-con">
        <img src="./public/images/czcg-ok.png" />
        <p class="czcg-p"></p>
    </div>
</div>
<script type="text/javascript" src="./public/plugin/jquery/jquery.min.js"></script>
<script type="text/javascript">
    /*提现*/
    $("#ok-recharge-Btn").on("click",function(){
        var priceVal = $("#price").val();
        if(priceVal =="") {
            alert("提现金额不能为空");
            return false;
        }
        if(isNaN(priceVal)){
            alert("提现金额必须为数字");
            return false;
        }
        if(priceVal > parseInt($("#max-num").html())){
            alert("提现金额不能大于账户余额!");
            return false;
        }
            $(".czcg-p").html('提现成功，您的提现金额为：' + priceVal);
            $(".czcg-box").css("display", "block");
            setTimeout(function () {
                window.location.href = "index.html";
            }, 1000);
    });
</script>
</body>
</html>