<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>疯狂竞猜-代理</title>
    <link rel="stylesheet" href="./public/css/index.css" />
</head>
<body class="newbg">
<div class="main">
    <div class="yj-shuoming">
        <div class="yjsm-bg">
            <h3>佣金方案</h3>
            <table>
                <tr>
                    <td width="30%">一级用户</td>
                    <td width="70%"><span>游戏下注金额</span><em>*6%</em></td>
                </tr>
                <tr>
                    <td>二级用户</td>
                    <td><span>游戏下注金额</span><em>*6%</em></td>
                </tr>
                <tr>
                    <td>三级用户</td>
                    <td><span>游戏下注金额</span><em>*6%</em></td>
                </tr>
                <tr>
                    <td>四级用户</td>
                    <td><span>游戏下注金额</span><em>*6%</em></td>
                </tr>
                <tr>
                    <td>五级用户</td>
                    <td><span>游戏下注金额</span><em>*6%</em></td>
                </tr>
                <tr>
                    <td>六级用户</td>
                    <td><span>游戏下注金额</span><em>*6%</em></td>
                </tr>
            </table>

            <p>佣金方案全面升级！不仅您直接邀请的用户（一级用户），您还能从这些用户的下级用户的游戏中赚取佣金！佣金最多可叠加六级！</p>
            <p>例：您邀请30位用户（一级用户），这些用户各自再邀请30位用户成为你的的二级用户，二级用户再各自邀请30位用户（三级用户），依次类推：每人每局10元 竞猜游戏，则你的可获取佣金如下：</p>
        </div>
        <div class="yjsm-bg">
            <h4>您可获取的佣金：</h4>
            <span class="sf">90*40*78*92+30*20*10+60*69*30+100*50*2%=56420元</span>
        </div>
        <div class="yjsm-bg">
            <h3>现金提取</h3>
            <h2>点击"提现-佣金记录"即可查看你的佣金。</h2>
            <p class="centent">佣金试试到账您的游戏余额，可随时提现</p>
        </div>
    </div>
    <div class="foot">
        <div class="foot-nav">
            <ul>
                <li class="fl">
                    <a href="index.html">
                        <img src="./public/images/icon-1-off.png" />
                        <span>游戏</span>
                    </a>
                </li>
                <li class="fl">
                    <a href="daili.html">
                        <img src="./public/images/icon-2.png" />
                        <span>代理</span>
                    </a>
                </li>
                <li class="fl">
                    <a href="qianbao.html">
                        <img src="./public/images/icon-3-off.png" />
                        <span>钱包</span>
                    </a>
                </li>
                <li class="fl">
                    <a href="usercenter.html">
                        <img src="./public/images/icon-4-off.png" />
                        <span>我的</span>
                    </a>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
    </div>
</div>


<!--充值成功-->
<div class="czcg-box">
    <div class="czcg-ok-con">
        <img src="./public/images/czcg-ok.png" />
        <p class="czcg-p"></p>
    </div>
</div>

<script type="text/javascript">
</script>
</body>
</html>